body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h5 {
  font-weight: 600;
}

p {
  color: #777777;
}

.carousel-item img {
  height: 60vh;
  object-fit: cover;
}

.overview {
  background-color: #f4fafd;
}

.overview-image img {
  object-fit: cover;
}

/* .carousel-image {
  fill-opacity: 50%;
} */
